<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dodaj pracownika</title>
</head>
<body>
<a href="persons">Powrót do listy pracowników</a><br />
<form method="POST" modelAttribute="formFind">
    <label>Imie</label> <input type="text" name="imie" />
    <label>Nazwisko</label> <input type="text" name="nazwisko" />
    <label>Wiek</label> <input type="text" name="wiek" />
    <input type="submit" value="Znajdź">
</form>
<br />
<hr />

</body>
</html>